@using SAPAssistant.Service
<CascadingAuthenticationState>
    <MudDialogProvider />
    <MudSnackbarProvider /> <!-- Si usas snackbars (opcional) -->
    <MudPopoverProvider />

    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(PublicLayout)">
                <p>404 - Página no encontrada</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
