@using SAPAssistant.Exceptions
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(PublicLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(PublicLayout)">
                <p>404 - Página no encontrada</p>
            </LayoutView>
        </NotFound>
    </Router>

    <!-- ✅ Toast Global -->
    <SAPAssistant.Components.AlertMessageError Result="GlobalResult" OnClear="ClearGlobalAlert" />
</CascadingAuthenticationState>

@code {
    [Inject] private NotificationService NotificationService { get; set; } = default!;
    private ResultMessage? GlobalResult;

    protected override void OnInitialized()
    {
        NotificationService.OnNotify += ShowToast;
    }

    private void ShowToast(ResultMessage result)
    {
        InvokeAsync(() =>
        {
            GlobalResult = result;
            StateHasChanged();
        });
    }

    private void ClearGlobalAlert()
    {
        InvokeAsync(() =>
        {
            GlobalResult = null;
            StateHasChanged();
        });
    }
}
